<template>
  <div class="header">
    <h2 class="pa-4">Nativa</h2>
  </div>
</template>

<script>
export default {
  name: "Header",
  data: () => ({}),

  methods: {},
};
</script>
<style>
.header{
  width: 100%;
  background-color: #fff;
 box-shadow: 0px 7px 16px 0px  rgba(58, 59, 69, .15);
}
h2 {
  color: #1cc88a;
}
</style>
