<template >
  <v-app>
    <Header />
    <div class="background">
      <v-row justify="center">
        <v-col cols="11">
          <h1>Veículos</h1>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="11">
          <v-card class="shadow">
            <v-card-title class="header-card-style">
              <h5>Marcas</h5>
            </v-card-title>
            <v-data-table
              :headers="headersBrands"
              :items="brands"
              :loading="loadingBrand"
              hide-default-header
              hide-default-footer
              class="elevation-1"
            >
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn @click="getModelForId(item.codigo)" text medium>
                  <h5
                    :class="
                      item.codigo === brandsId ? 'selected' : 'color-deaful'
                    "
                  >
                    Ver modelos
                  </h5>
                </v-btn>
              </template></v-data-table
            >
          </v-card>
        </v-col>
      </v-row>
      <v-row v-if="model.length" justify="center">
        <v-col cols="11">
          <v-card class="shadow">
            <v-card-title class="header-card-style">
              <h5>Modelos</h5>
            </v-card-title>
            <v-data-table
              :headers="headersModel"
              :items="model"
              :loading="loadingModel"
              hide-default-header
              hide-default-footer
              class="elevation-1"
            >
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <Footer />
  </v-app>
</template>

<script>
import services from "../../services/carServices";
import Header from "../../components/header-page";
import Footer from "../../components/footer-page";

export default {
  name: "App",

  components: {
    Header,
    Footer,
  },

  data: () => ({
    brandsId: 0,
    brands: [],
    model: [],
    loadingBrand: true,
    loadingModel: true,
    headersBrands: [
      {
        text: "Marca",
        align: "start",
        value: "nome",
      },
      { text: "", align: "center", value: "actions" },
    ],
    headersModel: [
      {
        text: "Modelo",
        align: "start",
        value: "nome",
      },
    ],
  }),

  async mounted() {
    this.getBrands();
  },

  methods: {
    async getBrands() {
      try {
        this.brands = (await services.getBrands()).data;
        this.loadingBrand = false;
      } catch (err) {
        alert(err);
      }
    },
    async getModelForId(id) {
      try {
        (this.loadingModel = true), (this.brandsId = id);
        this.model = (
          await services.getModelsForId(this.brandsId)
        ).data.modelos;
        this.loadingModel = false;
      } catch (err) {
        alert(err);
      }
    },
  },
};
</script>
<style>
.selected {
  color: #1cc88a;
}
.color-deaful {
  color: #4e73df;
}
.header-card-style {
  color: #4e73df;
  background-color: #f8f9fc;
}
.background {
  background-color: #f7f8fb;
  margin-bottom: 30px;
}
.shadow {
  box-shadow: 0px 0px 21px 0px rgba(58, 59, 69, 0.15);
}
</style>
