<template>
<div class="footer">
   <h6 class="text-center">Copyrigth <span>&copy;</span> Nativa 2020</h6>
</div>
</template>

<script>


export default {
  name: "Footer",
  data: () => ({
 
  }),


  methods: {
   
  },
};
</script>
<style>
span{
    padding: 0 5px;
}
h6 {
  color: grey;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: #fff;
box-shadow: 0px -3px 16px 0px  rgba(58, 59, 69, .15);
}
</style>